<div class="player-list" *ngFor="let player of players">
    <div class="player-list__item player">
        <h2 class="player-detail__name">{{ player.name }}</h2>
        <ul class="player-detail__parameters">
            <li class="player-detail__position">
                <span>Position:</span> {{ player.position }}
            </li>
            <li class="player-detail__nationality">
                <span>Nationality:</span> {{ player.nationality }}
            </li>
        </ul>
    </div>
</div>